<!DOCTYPE html>
<html>
  <!-- Search -->
  <form action="{% url 'results' %}" method="get">
    <div>
      <label for="search_words">Search</label>
      <input type="text" id="search_words" name="search_words" />
      <input type="checkbox" id="notesonly" name="notesonly" checked />
      <label>Generate words only in your notes?</label>
    </div>
    <div>
      <input type="checkbox" id="spellcheck" name="spellcheck" checked />
      <label>Perform spell check?</label>
    </div>
    <div>
      <label for="notebook">Choose notebook to upload to</label>
      <select name="notebook" id="notebook">
        {% for notebook in notebooks %}
        <option value="{{ notebook.id }}">{{ notebook.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <button>Submit</button>
    </div>
  </form>
</html>
