<!DOCTYPE html>
<html>
  <!-- Search -->
  <form action="{% url 'results' %}" method="get">
    <div>
      <label for="search_words">Search</label>
      <input type="text" id="search_words" name="search_words" />
      <input type="checkbox" id="notesonly" name="notesonly" checked />
      <label>Generate words only in your notes?</label>
    </div>
    <div>
      <input type="checkbox" id="spellcheck" name="spellcheck" checked />
      <label>Perform spell check?</label>
    </div>
    <div>
      <button>Submit</button>
    </div>
  </form>
</html>
